@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading:var(--white);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  --overlay: #3e64ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --icons-bg: rgba(144, 172, 209, 0.2);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  

  background-image:linear-gradient(rgba(185, 176, 180, 0.3),rgba(242, 227, 227, 0.3)),url(/image/email1.jpeg);
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 20px;
  font-weight: 600;
  
}
h2 {
  color:white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-style:var(--shadow);
 
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}




.section-email-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
  }
  
  .section-email-main .grid {
    gap: 3.2rem;
  }
  
  .section-email-main form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  .section-email-main input,
  .section-email-main textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid hsl(226, 83%, 34%);
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
  }
  
  .section-email-main input[type="submit"] {
    max-width: 30%;
    border: none;
  }